@page
@model WebApp.Pages.Products.DetailsModel
@{
}
<h1>Details</h1>

@*<div>
    <h4>Product</h4>
    <hr />
    <dd class="col-sm-10">
        <img src="@Html.DisplayFor(model => model.Product.URL)" alt="Product Image" class="card-img-top" style="width: 200px; height: 200px;" />

    </dd>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Qunatity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Qunatity)
        </dd>
        @*<dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>
    </dl>
</div>*@

<div class="my-container mx-auto border border-dark">
    <div class="row g-0">
        <!-- Profile Image of Product -->
        <div class="col-4 p-4">
            <div class="d-flex justify-content-center align-items-center">
                <img src="@Model.Product.URL" alt="" class="w-100" />
            </div>
           @* <div class="image-thumbnails d-flex justify-content-between align-items-center mt-4">
                <img src="../../assets/images/@(product.productCategory.subCategory)/@(product.id)/1.jpg" alt="Thumbnails Image" onclick="imageIndex = 1" />
                <img src="../../assets/images/@(product.productCategory.subCategory)/@(product.id)/2.jpg" alt="Thumbnails Image" onclick="imageIndex = 2" />
                <img src="../../assets/images/@(product.productCategory.subCategory)/@(product.id)/3.jpg" alt="Thumbnails Image" onclick="imageIndex = 3" />
                <img src="../../assets/images/@(product.productCategory.subCategory)/@(product.id)/4.jpg" alt="Thumbnails Image" onclick="imageIndex = 4" />
                <img src="../../assets/images/@(product.productCategory.subCategory)/@(product.id)/5.jpg" alt="Thumbnails Image" onclick="imageIndex = 5" />
            </div>*@
        </div>

        <!-- Details of the product -->
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h2>@Model.Product.ProductName</h2>
                </div>
                <div class="card-body">
                    @*<h1 class="card-title text-success">
                        @utilityService.applyDiscount(product.price, product.offer.discount)
                        <span class="text-primary">-@(product.offer.discount)%</span>
                    </h1>*@
                    <h4 class="card-subtitle text-dark">
                        &#8377; @Model.Product.Price
                    </h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle my-2 text-primary">
                        @Model.Product.Qunatity products are available
                    </h6>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-primary">
                            Add to Cart
                       @*     <span>@(if (!utilityService.isLoggedIn()) { < span > (Login First)</ span > })</span>*@
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-text">Description</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action">@Model.Product.Description</li>

                       @* @foreach (var item in product.description.Split('. '))
                        {
                            <li class="list-group-item list-group-item-action">@item</li>
                        }*@
                    </ul>
                </div>
            </div>
        </div>
    </div>   
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

