@page
@model WebApp.Pages.UserModel
@{
    ViewData["Title"] = "User page";

}
<div>
    <h2 class="display-4">Users</h2>
</div>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>User Id</th>
            <th>User Name</th>
            <th>User Address</th>
            <th>User Mobile</th>
            <th>User Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Address</td>
                <td>@user.Mobile</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
